.bg-blue {
    background-color: #8a9ebd; /* Replace #dddddd with your desired gray color code */
}
.bg-gray {
    background-color: #dddddd; /* Replace #dddddd with your desired gray color code */
}
.border-black {
    border: 1px solid black;
}
